# IDE
.vscode/
.idea/

# Project
_output/**
*.env.mk
*.env
*.test
*.out
*.a
*.o
*.so
*.dll
*.exe
*.exe~
*.gz

# For convenience
bin/
tmp/
temp/
work/
study/
local/
*.tmp
*.temp

!**/testdata/**
!*.gitkeep
!*.gitignore
